Button {
    background-color: green;
    font-size: 16px;
    padding: 15px 30px;
    color: white;
    width: 100px;
}

.resetButton {
    background-color: red;
    width: 200px;
}

.count {
    padding: 15px 30px;
}